<h1><%= t('tasks.new') %></h1>

<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <%= f.label :content %>
  <p><%= f.text_area :content, size: "20x5"%></p>
  <p><%= f.submit "create task", id: "create-task"%></p>
<%= link_to t('back'), tasks_path, id: "back"%>
<% end %>