<h1><%= t('admins.show') %></h1>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>管理者権限: <%= @user.admin ? "あり" : "なし" %></p>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th><%= link_to Task.human_attribute_name(:deadline_on), sort_deadline_on: true %></th>   
      <th><%= link_to Task.human_attribute_name(:priority), sort_priority: true %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at %></td>
        <td><%= task.deadline_on %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>

        <td><%= link_to t('編集'), edit_admin_user_path(current_user.id), button_id: "back" %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<div>
<%= link_to t('戻る'), admin_users_path(current_user.id), id: "back" %>
</div>