<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <div>
    <%= link_to t('common.header-index'), tasks_path, id: "header-index"%>
    <%= link_to t('common.header-new'), new_task_path, id: "header-new"%>
  </div>
  <%= yield %>
  </body>
</html>
